<!DOCTYPE html>
<html>
<head>
    <title>Delete Contact</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-6 text-center">
                <h2>Are you sure you want to delete "{{ contact }}"?</h2>
                <form method="post" class="mt-4">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirm</button>
                    <a href="{% url 'contact_list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
  

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <footer class="footer mt-auto py-3">
      <div class="container text-center">
          <span class="text-muted">&copy; 2023 <span style="color: red;">Created by Shreya Shree Bukkarayasamudram</span></span>
      </div>
    </footer>
  
</body>
</html>
